<?xml version="1.0" encoding="utf-8"?>
<OutputCoordinateViewModel xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<OutputCoordinateList>
		<OutputCoordinateModel>
			<Name>DD</Name>
			<CType>DD</CType>
			<Format>Y-+0.0000 X-+0.0000</Format>
		</OutputCoordinateModel>
		<OutputCoordinateModel>
			<Name>DMS</Name>
			<CType>DMS</CType>
			<Format>A0°B0'C0"N X0°Y0'Z0"E</Format>
		</OutputCoordinateModel>
		<OutputCoordinateModel>
			<Name>DDM</Name>
			<CType>DDM</CType>
			<Format>A0 B0.0### N X0 Y0.0## E</Format>
		</OutputCoordinateModel>
		<OutputCoordinateModel>
			<Name>MGRS</Name>
			<CType>MGRS</CType>
			<Format>Z-S-X00000-Y00000</Format>
		</OutputCoordinateModel>
		<OutputCoordinateModel>
			<Name>UTM</Name>
			<CType>UTM</CType>
			<Format>Z#H X0 Y0</Format>
		</OutputCoordinateModel>
		<OutputCoordinateModel>
			<Name>GARS</Name>
			<CType>GARS</CType>
			<Format>X#YQK</Format>
		</OutputCoordinateModel>
		<OutputCoordinateModel>
			<Name>USNG</Name>
			<CType>USNG</CType>
			<Format>Z-S-X00000-Y00000</Format>
		</OutputCoordinateModel>
	</OutputCoordinateList>
	<DefaultFormatList>
		<DefaultFormatModel>
			<CType>DD</CType>
			<DefaultNameFormatDictionary>
				<item>
					<key>
						<string>70.49N 40.32W</string>
					</key>
					<value>
						<string>Y0.0#N X0.0#E</string>
					</value>
				</item>
				<item>
					<key>
						<string>70.49N,40.32W</string>
					</key>
					<value>
						<string>Y0.0#N,X0.0#E</string>
					</value>
				</item>
				<item>
					<key>
						<string>70.49,-40.32</string>
					</key>
					<value>
						<string>Y-0.0#,X-0.0#</string>
					</value>
				</item>
				<item>
					<key>
						<string>+70.49,-40.32</string>
					</key>
					<value>
						<string>Y+-0.0#,X+-0.0#</string>
					</value>
				</item>
			</DefaultNameFormatDictionary>
		</DefaultFormatModel>
		<DefaultFormatModel>
			<CType>DDM</CType>
			<DefaultNameFormatDictionary>
				<item>
					<key>
						<string>70° 49.12'N 40° 18.32'W</string>
					</key>
					<value>
						<string>A0° B0.0#'N X0° Y0.0#'E</string>
					</value>
				</item>
				<item>
					<key>
						<string>70° 49.12'N,40° 18.32'W</string>
					</key>
					<value>
						<string>A0° B0.0#'N,X0° Y0.0#'E</string>
					</value>
				</item>
				<item>
					<key>
						<string>70 49.12,-40 18.32</string>
					</key>
					<value>
						<string>A-0 B0.0#,X-0 Y0.0#</string>
					</value>
				</item>
				<item>
					<key>
						<string>70°49.12'N40°18.32'W</string>
					</key>
					<value>
						<string>A0°B0.0#'NX0°Y0.0#'E</string>
					</value>
				</item>
			</DefaultNameFormatDictionary>
		</DefaultFormatModel>
		<DefaultFormatModel>
			<CType>DMS</CType>
			<DefaultNameFormatDictionary>
				<item>
					<key>
						<string>70° 49' 23.2"N 40° 18' 45.4"W</string>
					</key>
					<value>
						<string>A0° B0' C0.0"N X0° Y0' Z0.0"E</string>
					</value>
				</item>
				<item>
					<key>
						<string>70°49'23.2"N40°18'45.4"W</string>
					</key>
					<value>
						<string>A0°B0'C0.0"NX0°Y0'Z0.0"E</string>
					</value>
				</item>
				<item>
					<key>
						<string>70° 49' 23.2"N,40° 18' 45.4"W</string>
					</key>
					<value>
						<string>A0° B0' C0.0"N,X0° Y0' Z0.0"E</string>
					</value>
				</item>
				<item>
					<key>
						<string>+70° 49' 23.2" -40° 18' 45.4"</string>
					</key>
					<value>
						<string>A+-0° B0' C0.0" X+-0° Y0' Z0.0"</string>
					</value>
				</item>
			</DefaultNameFormatDictionary>
		</DefaultFormatModel>
		<DefaultFormatModel>
			<CType>GARS</CType>
			<DefaultNameFormatDictionary>
				<item>
					<key>
						<string>221LW37</string>
					</key>
					<value>
						<string>X#YQK</string>
					</value>
				</item>
				<item>
					<key>
						<string>221 LW 3 7</string>
					</key>
					<value>
						<string>X# Y Q K</string>
					</value>
				</item>
				<item>
					<key>
						<string>221-LW-3-7</string>
					</key>
					<value>
						<string>X#-Y-Q-K</string>
					</value>
				</item>
				<item>
					<key>
						<string>221,LW,3,7</string>
					</key>
					<value>
						<string>X#,Y,Q,K</string>
					</value>
				</item>
			</DefaultNameFormatDictionary>
		</DefaultFormatModel>
		<DefaultFormatModel>
			<CType>MGRS</CType>
			<DefaultNameFormatDictionary>
				<item>
					<key>
						<string>19TDE1463928236</string>
					</key>
					<value>
						<string>ZSX00000Y00000</string>
					</value>
				</item>
				<item>
					<key>
						<string>19T DE 14639 28236</string>
					</key>
					<value>
						<string>Z S X00000 Y00000</string>
					</value>
				</item>
				<item>
					<key>
						<string>19TDE 14639 28236</string>
					</key>
					<value>
						<string>ZS X00000 Y00000</string>
					</value>
				</item>
				<item>
					<key>
						<string>19T,DE,14639,28236</string>
					</key>
					<value>
						<string>Z,S,X00000,Y00000</string>
					</value>
				</item>
			</DefaultNameFormatDictionary>
		</DefaultFormatModel>
		<DefaultFormatModel>
			<CType>USNG</CType>
			<DefaultNameFormatDictionary>
				<item>
					<key>
						<string>19TDE1463928236</string>
					</key>
					<value>
						<string>ZSX00000Y00000</string>
					</value>
				</item>
				<item>
					<key>
						<string>19T DE 14639 28236</string>
					</key>
					<value>
						<string>Z S X00000 Y00000</string>
					</value>
				</item>
				<item>
					<key>
						<string>19TDE 14639 28236</string>
					</key>
					<value>
						<string>ZS X00000 Y00000</string>
					</value>
				</item>
				<item>
					<key>
						<string>19T,DE,14639,28236</string>
					</key>
					<value>
						<string>Z,S,X00000,Y00000</string>
					</value>
				</item>
			</DefaultNameFormatDictionary>
		</DefaultFormatModel>
		<DefaultFormatModel>
			<CType>UTM</CType>
			<DefaultNameFormatDictionary>
				<item>
					<key>
						<string>19N 414639m 4428236m</string>
					</key>
					<value>
						<string>Z#H X0m Y0m</string>
					</value>
				</item>
				<item>
					<key>
						<string>19N414639m4428236m</string>
					</key>
					<value>
						<string>Z#HX0mY0m</string>
					</value>
				</item>
				<item>
					<key>
						<string>19N,414639m,4428236m</string>
					</key>
					<value>
						<string>Z#H,X0m,Y0m</string>
					</value>
				</item>
			</DefaultNameFormatDictionary>
		</DefaultFormatModel>
	</DefaultFormatList>
</OutputCoordinateViewModel>